asgiref==3.8.1
crispy-bootstrap5==2024.10
Django==5.1.2
django-crispy-forms==2.3
pillow==11.0.0
requests==2.31.0
sqlparse==0.5.1
tzdata==2024.2
urllib3==2.2.0
setuptools==72.1.0
wheel==0.43.0
virtualenv==20.28.0
