{% extends 'core/base.html' %}

{% block title %}Sagas{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<h2 class="text-center mt-0">Informaciones</h2>
<br>
<br>

<!-- Filtro desplegable -->
<form method="get" class="mb-4">
    <label for="saga-select">Seleccione un curso:</label>
    <br>
    <select id="saga-select" name="saga" class="form-select">
        <option value="">-- Seleccionar  --</option>
        {% for saga in sagas %}
        <option value="{{ saga.nombre }}" {% if saga.nombre == query %}selected{% endif %}>
            {{ saga.nombre }}
        </option>
        {% endfor %}
    </select>
    <br>
    <button type="submit">Filtrar</button>
</form>


<!-- Mostrar personajes y enemigos solo si se selecciona un juego -->
{% if query %}
    <h2 class="mt-5">Contenido del curso</h2>
    <br>
    <div class="row">
        {% for personaje in personajes %}
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 18rem;">
                {% if personaje.imagen %}
                    <img src="{{ personaje.imagen.url }}" class="card-img-top" alt="Imagen de {{ personaje.nombre }}" style="height: 250px; object-fit: contain;">
                {% else %}
                    <img src="https://via.placeholder.com/300x300" class="card-img-top" alt="Imagen no disponible">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ personaje.nombre }}</h5>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No se encontró contenido de este curso.</p>
        {% endfor %}
    </div>

    <h2 class="mt-5">Docente</h2>
    <br>
    <div class="row">
        {% for enemigo in enemigos %}
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 18rem;">
                {% if enemigo.imagen %}
                    <img src="{{ enemigo.imagen.url }}" class="card-img-top" alt="Imagen de {{ enemigo.nombre }}" style="height: 250px; object-fit: contain;">
                {% else %}
                    <img src="https://via.placeholder.com/300x300" class="card-img-top" alt="Imagen no disponible">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ enemigo.nombre }}</h5>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No se encontró resultados.</p>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

