{% extends 'core/base.html' %}

{% block title %}Noticias{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<h2 class="text-center mt-0">Cursos</h2>
<br>
<br>
<div class="container mt-4">

    <div class="row">
        {% for noticia in page_obj %}
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 18rem;">
                {% if noticia.imagen %}
                    <img src="{{ noticia.imagen.url }}" class="card-img-top" alt="Imagen de {{ noticia.nombre }}" height="300px" width="250px">
                {% else %}
                    <img src="https://via.placeholder.com/250x300" class="card-img-top" alt="Imagen no disponible" height="300px" width="250px">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ noticia.nombre }}</h5>
                    <p class="card-text">{{ noticia.descripcion }}</p>
                    <p class="card-text">
                        <small class="text-muted">
                            Creado: {{ noticia.fecha_creacion|date:"d M Y H:i" }}<br>
                            Actualizado: {{ noticia.fecha_actualizacion|date:"d M Y H:i" }}
                        </small>
                    </p>
                    <a href="#" class="btn btn-primary inscribirse-btn">Inscribirse</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No hay noticias disponibles en este momento.</p>
        {% endfor %}
    </div>

    <!-- Mensaje de felicitaciones por inscripción -->
    <div id="mensaje-inscripcion" style="display: none;" class="alert alert-success mt-3">Felicidades por inscribirte al curso</div>

    <!-- Paginación -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">Primero</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
            {% endif %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último</a></li>
            {% endif %}
        </ul>
    </nav>

</div>

<script>
    document.querySelectorAll('.inscribirse-btn').forEach(button => {
        button.addEventListener('click', function() {
            document.getElementById('mensaje-inscripcion').style.display = 'block';
            setTimeout(function(){
                window.location.href = "{% url 'index' %}";
            }, 3000); // Redirigir al index.html después de 3 segundos (3000 ms)
        });
    });
</script>
{% endblock %}

